{{#*inline "messagecontent"}}
  <p style="font-size: {{ font.size }}; margin-top: 0;">It&rsquo;s your team at Enbridge. Just want to confirm that we&rsquo;ve started setting up your new account. We know moving can be a real pain, so we&rsquo;re going to make this part as painless as possible, so you can get back to packing. (And if you&rsquo;ve done that already, congrats!)</p>
  <p style="font-size: {{ font.size }};">We plan to activate your new account for <b>123 anywhere St., Anycity, ON</b> on <b>October 12, 2016</b>. You&rsquo;ll get two more notes from us shortly&mdash;one to confirm that your move request has been processed and another to set your password for your online myEnbridge profile.</p>
  <p style="font-size: {{ font.size }};">Thank you for using our online service options! You&rsquo;ve picked the easiest and fastest way to get it done.</p>
  <p style="font-size: {{ font.size }}; margin-bottom: 0;">Your Enbridge Team</p>
{{/inline}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <table width="{{ width }}" align="{{ align }}" style="border: {{borderProps }};" cellspacing="0">
      <tbody>
        {{> _header img=images.header }}
        {{> _greetings title='Hi John,' subtitle='We received your move request.' img=images.residential }}
        {{> _message }}
        {{> _hr }}
        <tr>
          <td style="padding: 10px 20px 20px">
            <table width="100%" style="background:url('{{ imgPath }}/{{ images.movebox }}') no-repeat top right">
              {{> _movebox align='left' title='Summary' subtitle='New Address:' content='123 Fake St<br>Toronto, ON<br>M2M 2M2' details='Service Starting:' date='October 12, 2016' }}
            </table>
          </td>
        </tr>
        {{> _info }}
        {{> _signin }}
        {{> _yourinformation }}
        {{> _footer }}
      </tbody>
    </table>
  </body>
</html>
