{{#>_layout}}
  {{#*inline "messagecontent"}}
    <p style="font-size: {{ font.size }}; margin-top: 0;">It&rsquo;s your team at Enbridge. Just want to confirm that we have your new info. We know moving can be a pain, so we&rsquo;re going to make this part as painless as possible. </p>
    <p style="font-size: {{ font.size }};">We&rsquo;re closing your previous account on <b>October 12, 2016</b>, and we&rsquo;ll be setting up your new account for <b>123 anywhere St., Anycity, ON</b> on <b>October 12, 2016</b>. If you need
      to change anything, just
      <a href="" style="text-decoration: none; font-weight: 600;">
        <font color="{{ colors.link }}">login to myEnbridge</font>
      </a> to send us your updates. You can make changes up to five business days before your move. </p>
    <p style="font-size: {{ font.size }};">You&rsquo;ll see a one-time $25 setup fee to cover the costs associated with processing your move. Plus all of your current account settings (such as Budget Billing) will be transferred to your new account.
      <b>If you bank online, be sure to update that info with your new account number.</b></p>
    <p style="font-size: {{ font.size }};">We&rsquo;ll email your final bill for <b>321 Old Address St., Anycity, ON</b>. Any remaining unpaid balances will automatically carry over.</p>
    <p style="font-size: {{ font.size }};">Thank you for using our online service options! </p>
    <p style="font-size: {{ font.size }}; margin-bottom: 0;">Your Enbridge Team</p>
  {{/inline}}
  {{> _header }}
  {{> _greetings title='Hi John,' subtitle='We received your move request.' img=images.residential }}
  {{> _message }}
  {{> _hr }}
  <tr>
    <td style="padding: 10px 20px 20px">
      <table width="100%" style="background:url('{{ imgPath }}/{{ images.movebox }}') no-repeat top right">
        <tr>
          <td>
            {{> _movebox align='left' title='Summary' subtitle='From:' content='123 Fake St<br>Toronto, ON<br>M2M 2M2' details='Service Starting:' date='October 12, 2016' }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  {{> _arrow }}
  <tr>
    <td style="padding: 10px 20px 20px">
      {{> _movebox align='right' title='' subtitle='To:' content='123 Fake St<br>Toronto, ON<br>M2M 2M2' details='Service Ending:' date='October 12, 2016' }}
    </td>
  </tr>
  {{> _hr }}
  {{> _info }}
  {{> _signin }}
  {{> _yourinformation }}
  {{> _footer }}
{{/_layout}}
