<tr>
  <td bgcolor="#333333" align="center" style="padding: 20px; -ms-interpolation-mode: bicubic;">
    <img style="-ms-interpolation-mode: bicubic; " src="{{ imgPath }}/{{ images.footer }}" alt="Your alt text" width="130" height="38">
  </td>
</tr>
<tr>
  <td bgcolor="#E2E2E2" style="border-bottom:8px solid #92b051; padding: 20px;">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td align="center">
            <img width="42" height="42" src="{{ imgPath }}/{{ images.twitter }}" style="font-family:Arial, Sans-serif; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;" alt="Your alt text">
          </td>
        </tr>
        <tr>
          <td align="center">
            <a href="#" style="font-weight:600; text-decoration:none; font-size: 14px;">
              <font color="#555555" face="Arial, Sans-serif">Follow Us on Twitter!</font>
            </a>
          </td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">
            <font face="Arial, Sans-serif" style="font-size: 14px">
              <p>&copy; {{ copyright }}</p>
              <p>All rights reserved</p>
            </font>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
