<tr>
  <td height="200" valign="bottom" style="padding: {{ padding }}">
    <div style="background:url({{ url.imgPath }}/{{ greetings.img }}) no-repeat right top scroll;height: 100%;">
      <h1 style="padding: 130px 15px 0; margin: 0;">
        <font face="{{ font.face }}" color="{{ colors.title }}">{{ greetings.title }}</font>
      </h1>
      <h2 style="margin:0; padding: 0 0 0 15px;">
        <font color="{{ colors.title }}" face="{{ font.face }}">{{ greetings.subtitle }}</font>
      </h2>
    </div>
  </td>
</tr>
