<tr>
  <td width="200" bgcolor="{{ header.color }}" style="padding: {{ header.padding }};">
    <img align="middle" src="{{ url.imgPath }}/{{ header.img.src }}" width="{{ header.img.width }}" height="{{ header.img.height }}">
  </td>
</tr>
