<tr>
  <td style="padding: 0 20px 20px">
    <table cellpadding="{{ padding }}" cellspacing="0" cellspacing="0" bgcolor="{{ colors.text-bg }}">
      <tbody>
        <tr>
          <td>
            <font color="{{ colors.text }}" face="{{ font.face }}">
              <p style="font-size:{{ font.size }}; margin-top: 0;">It&rsquo;s your team at Enbridge. Just confirming that we have your company&rsquo;s new address info. We know moving can be a pain, so we&rsquo;re going to make this part painless. </p>
              <p style="font-size:{{ font.size }};">We&rsquo;ll close your previous account on <b>October 12, 2016</b> and set up your new account for <b>123 anywhere St., Anycity, ON</b> on <b>October 12, 2016</b>. If you need to change anything, just <a href="" style="text-decoration: none; font-weight: 600"><font color="#1d87a4">login to myEnbridge</font></a> to send us your updates. You can make changes up to five days before the move. </p>
              <p style="font-size:{{ font.size }};">You&rsquo;ll see a one-time $25 setup fee to cover the costs associated with processing your move on your new bill, and it&rsquo;s possible that your company will need to pay a <a href="{{ links.securityDeposit }}" style="text-decoration: none; font-weight: 600;"><font color="{{ colors.link }}">security deposit</font></a> for your new account. Your account options (such as paperless billing) will automatically carry over to your new account. As well, any remaining unpaid balances will also be transferred. We&rsquo;ll email your final bill for <b>321 Old Address St., Anycity, ON</b> to you.</p>
              <p style="font-size:{{ font.size }};"><b>If you bank online, please update that info with your new account number</b>.</p>
              <p style="font-size:{{ font.size }};">Thank you for using our online service options! </p>
              <p style="font-size:{{ font.size }}; margin-bottom: 0;">Your Enbridge Team</p>
            </font>
          </td>
        </tr>
      </tbody>
    </table>
</tr>
